.sidenav {
    background-color: #673ab7;
    width: 200px;
    a {
        color: #fff;
    }
    em {
        padding-right: 10px;
    }
}
.content {
    padding: 16px;
    background-color: #fff;
}
